@import '../../vendor/filament/forms/dist/module.esm.css';
@import '../../node_modules/cropperjs/dist/cropper.min.css';
@import '../../node_modules/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.css';
@import 'tippy.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .min-h-calc-screen {
        min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        min-height: calc(var(--vh, 1vh) * 100);
    }
}

@layer base {
    html {
        font-family: "DM Sans", system-ui, sans-serif;
        --scrollbarBG: rgba(229, 231, 235, 1);
        --thumbBG: rgba(75, 85, 99, 1);
        scroll-behavior: smooth;
    }

    [x-cloak] {
        display: none !important;
    }

    body {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }
    
    body::-webkit-scrollbar {
        width: 11px;
    }
    
    body::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
    }
    
    body::-webkit-scrollbar-thumb {
        background: var(--thumbBG);
        border: 3px solid var(--scrollbarBG);
        border-radius: 6px;
    }

    .filament-user-card div.filament-tables-actions-container {
        flex-wrap: nowrap;
    }

    button[disabled]{
        cursor: default;
        --tw-bg-opacity: 0.5;
        background-color: rgb(160 160 160 / var(--tw-bg-opacity));
    }

    button[disabled]:hover{
        --tw-bg-opacity: 0.5;
        background-color: rgb(160 160 160 / var(--tw-bg-opacity));
    }
}

@layer components {

    .dropdown_ul {
        @apply absolute left-0 z-20 flex flex-col w-full px-2 py-2 mt-2 overflow-auto overflow-y-auto list-none border rounded-md shadow-sm max-h-56 -top-3 bg-secondary-50;
    }

    .select_dropdown {
        @apply w-full rounded-md shadow-sm text-secondary-500 border-secondary-300;
    }

    .select_dropdown:focus {
        @apply border-indigo-300 ring ring-indigo-200 ring-opacity-50;
    }

    .label {
        @apply block mb-2 font-medium text-secondary-700;
    }

    button[disabled] {
        @apply cursor-default bg-secondary-500;
    }

    button[disabled]:hover {
        @apply bg-secondary-500;
    }

    .alert {
        @apply fixed inset-x-0 top-0 z-50 flex w-full p-4 mb-4;
    }

    .alert-success {
        @apply text-success-700 bg-success-100 dark:bg-success-200 dark:text-success-800;
    }

    .alert-warning {
        @apply text-orange-700 bg-orange-100 dark:bg-orange-200 dark:text-orange-800;
    }
    
    .alert-danger {
        @apply text-danger-700 bg-danger-100 dark:bg-danger-200 dark:text-danger-800;
    }

    .alert-info {
        @apply text-primary-700 bg-primary-100 dark:bg-primary-200 dark:text-primary-800;
    }

    .alert-default {
        @apply text-secondary-700 bg-secondary-100 dark:bg-secondary-200 dark:text-secondary-800;
    }

    .close-button {
        @apply ml-auto -mx-1.5 -my-1.5 rounded-lg p-1.5 inline-flex h-8 w-8;
    }

    .close-button__success {
        @apply rounded-lg text-success-500 bg-success-100 focus:ring-2 focus:ring-success-400 hover:bg-success-200 dark:bg-success-200 dark:text-success-600 dark:hover:bg-success-300;
    }

    .close-button__warning {
        @apply text-orange-500 bg-orange-100 rounded-lg focus:ring-2 focus:ring-orange-400 hover:bg-orange-200 dark:bg-orange-200 dark:text-orange-600 dark:hover:bg-orange-300;
    }

    .close-button__danger {
        @apply rounded-lg text-danger-500 bg-danger-100 focus:ring-2 focus:ring-danger-400 hover:bg-danger-200 dark:bg-danger-200 dark:text-danger-600 dark:hover:bg-danger-300;
    }

    .close-button__info {
        @apply rounded-lg text-primary-500 bg-primary-100 focus:ring-2 focus:ring-primary-400 hover:bg-primary-200 dark:bg-primary-200 dark:text-primary-600 dark:hover:bg-primary-300;
    }
    
    .close-button__default {
        @apply rounded-lg text-secondary-500 bg-secondary-100 focus:ring-2 focus:ring-secondary-400 hover:bg-secondary-200 dark:bg-secondary-200 dark:text-secondary-600 dark:hover:bg-secondary-300;
    }

    .toast {
        @apply fixed z-50 flex items-center w-full max-w-sm p-4 mb-4 bg-white rounded-lg shadow text-secondary-500 bottom-5 right-5 sm:max-w-md dark:text-secondary-400 dark:bg-secondary-800;
    }

    .toast-icon {
        @apply inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg;
    }
}

.toast.toast-success > .toast-icon {
    @apply text-success-500 bg-success-100 dark:bg-success-800 dark:text-success-200;
}

.toast.toast-warning > div.toast-icon {
    @apply text-orange-500 bg-orange-100 dark:bg-orange-800 dark:text-orange-200;
}

.toast.toast-danger > div.toast-icon {
    @apply text-danger-500 bg-danger-100 dark:bg-danger-800 dark:text-danger-200;
}

.toast.toast-info > div.toast-icon {
    @apply text-primary-500 bg-primary-100 dark:bg-primary-800 dark:text-primary-200;
}

.toast.toast-default > div.toast-icon {
    @apply text-secondary-500 bg-secondary-100 dark:bg-secondary-800 dark:text-secondary-200;
}

input[type=radio]#yes:checked+label {
    border-color: rgba(165, 180, 252, 1);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 0.5;
    --tw-ring-color: rgba(199, 210, 254, var(--tw-ring-opacity));
}

input[type=radio]#no:checked+label {
    border-color: rgba(252, 165, 165, 1);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 0.5;
    --tw-ring-color: rgba(254, 202, 202, var(--tw-ring-opacity));
}

input[type=radio]#yes:focus,
input[type=radio]#no:focus {
    box-shadow: none;
}

input[type=checkbox]:checked+label {
    background: rgba(229, 231, 235, 1);
}

input[type=checkbox]+label .icon_check {
    display: none;
}

input[type=checkbox]:checked+label .icon_check {
    display: block;
}

input[type=radio]:focus+label {
    border: 1px solid rgba(75, 85, 99, 1);
}

input[type=radio][name="section-link"]:checked+label {
    background: rgba(209, 213, 219, 1);
}

select:required:invalid {
    color: #666;
}

option[value=''][disabled] {
    display: none;
}

option {
    color: #000;
}

.loader {
    height: 18px;
    width: 18px;
    border: 2px solid rgba(204, 222, 250, 0.3);
    border-radius: 50%;
    border-top-color: rgb(148, 168, 197);
    animation: spinner 1s ease-in-out infinite;
}

.loader-dark {
    height: 18px;
    width: 18px;
    border: 2px solid rgba(105, 69, 233, 0.3);
    border-radius: 50%;
    border-top-color: rgb(72, 38, 194);
    animation: spinner 1s ease-in-out infinite;
}

.section::before {
    content: " ";
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 1c-5 0-5 10-10 10S10 1 5 1 0 11-5 11-10 1-15 1' stroke='%23CBD5DF' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='square'/%3E%3C/svg%3E");
}

.active {
    background: rgba(209, 213, 219, 1);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

#cover_inp {
    min-height: 200px;
}

.tab-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.tab-container label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    cursor: pointer;
}

.content-container {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
}

.tab-container input[type="radio"] {
    display: none;
}

.tab-container input[type="radio"]:checked+label {
    color: rgba(29, 78, 216);
}

.tab-container input[type="radio"]:checked+label+.content-container {
    display: initial;
}

/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
    cursor: pointer;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
    background-color: #eee;
}

/* the border radius of the drop area */
.filepond--panel-root {
    border-radius: 0.5em;
}

.filepond--root[data-style-panel-layout~="circle"] .filepond--panel-root {
    background-color: #eee;
  }

/* the border radius of the file item */
.filepond--item-panel {
    border-radius: 0.5em;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
    color: white;
}

/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
    background-color: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: green;
}
